#code {
    text-decoration: none;
    color: black;
}

#logo {
    font-size: 3rem;
}

// #login {
//     font-size: 1.5rem;
//     margin-right: 2rem;
// }

//OTHER NAVBAR LOGIN*
.navbar-transparent {
    background-color: rgba(255,255,255,0.0);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    transform: scaleX(-1);
}

.navbar {
    background-color: rgb(250, 241, 237);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
    overflow: hidden;
    position: fixed; 
    top: 0
}

.cart-nav {
    margin-right: 2rem;
}

#cartBtn {
    background: black;
    color:antiquewhite;
    border-radius: 25px;
    border-color: ghostwhite;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    text-decoration: none;
    color: #f5f5f5;
}

.nav-menu {
    background-color: rgb(238, 231, 228);
    display: flex;
    width: 250px;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    box-shadow: 2px 2px 8px rgba(155, 155, 155, 0.699);
}

.nav-menu.active {
    left:0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover{
    text-shadow: 2px 2px 8px rgba(190, 190, 190, 0.699);
    color:rgb(250, 241, 237);
    background: black;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: rgb(238, 231, 228);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-icons{
    font-size: 1.5rem;
}
