#burger {
  font-size: 1.5rem;
  margin-right: .5rem;
  color: black;
}

#code {
  text-decoration: none;
  color: black;
  pointer-events: none;
}

#logo {
  font-size: 3rem;
}

.navbar-transparent {
  background-color: rgba(255, 255, 255, 0);
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.navbar {
  background-color: #faf1ed;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.cart-nav {
  margin-right: 2rem;
}

#cartBtn {
  background: black;
  color: antiquewhite;
  border-radius: 25px;
  border-color: ghostwhite;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  text-decoration: none;
  color: #f5f5f5;
}

.nav-menu {
  background-color: #eee7e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  -webkit-transition: 850ms;
  transition: 850ms;
  -webkit-box-shadow: 2px 2px 8px rgba(155, 155, 155, 0.699);
          box-shadow: 2px 2px 8px rgba(155, 155, 155, 0.699);
}

.nav-menu.active {
  left: 0;
  -webkit-transition: 350ms;
  transition: 350ms;
}

.nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  text-shadow: 2px 2px 8px rgba(190, 190, 190, 0.699);
  color: #faf1ed;
  background: black;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #eee7e4;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icons {
  font-size: 1.5rem;
}

span {
  margin-left: 16px;
}
/*# sourceMappingURL=Navbar.css.map */